{% extends 'index.html' %}
{% block content%}

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello {{session['name']}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{url_for('employees.employee')}}" class="nav-link" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('employees.logout')}}" class="nav-link" style="color: black;">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



 
    <div class="col-md-8 mx-auto text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-danger" id="alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>


<div class="container-fluid mx-auto" style="position: relative;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="background-color: #ECF2FF; padding: 10px;">
      <table>
        <thead>
          <tr>
            <th>Date of the bill</th>
            <th>Amount to be claimed</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for status in status_list %}
              <tr>
                <td data-label="Date of the bill">{{ status[0] }}</td>
                <td data-label="Amount to be claimed">{{ status[1] }}</td>
                <td data-label="Status">
                  {% if status[2] == 'pending' %}
                    <p class="text-center" style="color: blue;">Pending</p>
                  {% elif status[2] == 'rejected' %}
                    <p class="text-center" style="color: red;">Rejected</p>
                    <a href="{{ url_for('employees.rejected') }}" class="btn btn-outline-info">Update</a>
                  {% elif status[2] == 'accepted' %}
                    <p class="text-center" style="color: green;">Approved</p>
                  {% endif %}
                </td>
              </tr >

          {% endfor %}
        </tbody>
      </table>
    
    </div>
    <br>
  </div>
</div>
<br>
<div class="pagination justify-content-center">
  {% if expenses.has_prev %}
    <a class="btn btn-outline-info mb-4  mx-1" href="{{ url_for('employees.approve', page=expenses.prev_num) }}" >&laquo;</a>
  {% else %}
    <a class="btn btn-outline-info mb-4 disabled  mx-1">&laquo;</a>
  {% endif %}
  {% for page in expenses.iter_pages() %}
    {% if page %}
      {% if page == expenses.page %}
        <a class="btn btn-outline-info mb-4 active mx-1">{{ page }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4  mx-1" href="{{ url_for('employees.approve', page=page) }}">{{ page }}</a>
      {% endif %}
    {% else %}
      <span class="btn btn-outline-info mb-4 disabled mx-1">...</span>
    {% endif %}
  {% endfor %}
  {% if expenses.has_next %}
    <a class="btn btn-outline-info mb-4 mx-1" href="{{ url_for('employees.approve', page=expenses.next_num) }}">&raquo;</a>
  {% else %}
    <a class="btn btn-outline-info mb-4 disabled mx-1">&raquo;</a>
  {% endif %}
</div>



{% endblock %}