{% extends 'index.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello, {{current_user.name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a href="{{url_for('admins.admin')}}" class="nav-link a1" style="color: black;">Home</a>
            </li>
        <li class="nav-item">
          <a href="{{url_for('admins.logout')}}" class="nav-link a1" style="color: black;">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-danger" id="alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>

<br>
<div class="container" id="register">
  <form method="POST" action="" id="form">
    {{form.hidden_tag()}}
    <legend class="text-center mb-4">Delete Employee</legend>
    <div class="form-group mb-2">
        {{ form.employeeid.label(class="form-control-label") }}

        {% if form.employeeid.errors %}
            {{ form.employeeid(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.employeeid.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.employeeid(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class = "form-group text-center">
      <button type="button" class="btn btn-outline-info" onclick="confirmDelete()">Delete</button>
    </div>
      
  </form>
</div>

<script>
function confirmDelete() {
    if (confirm("Are you sure you want to delete this employee?")) {
        document.getElementById("form").submit();
    }
}
</script>


{% endblock %}
