<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>


    {% block content %}



    <h1>Employee Expense Portal.</h1>
    <br>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div>
      <a href="{{ url_for('admins.admin') }}">
        <button style="padding: 10px 20px;">Admin</button>
      </a>
      <div>
      <br>
      </div>
      <a href="{{ url_for('employees.emp') }}">
        <button style="padding: 10px 20px;">Employee</button>
      </a>
      <div>
      <br>
      </div>
      <div>
      <a href="{{ url_for('managers.manager_login') }}">
        <button style="padding: 10px 20px;">Manager</button>
      </a>
    </div>
    </div>
    
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
</body>
</html>






