{% extends 'index.html' %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello {{session['name']}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{url_for('managers.logout')}}" class="nav-link a1" style="color: black;">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="col-md-8 mx-auto text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-danger" id="alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>


  <div class="container-fluid mt-5 mx-auto">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="background-color: #ECF2FF; padding: 10px;">
        <table>
          <thead>
            <tr>
              <th>Date of the bill</th>
              <th>Amount to be claimed</th>
              <th>Picture</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for expense in manager_list %}
            <tr>
              <td data-label="Date of the bill">{{ expense[0] }}</td>
              <td data-label="Amount to be claimed">{{ expense[1] }}</td>
              <td data-label="Picture/Files">
                {% if expense[2].endswith('.pdf') %}
                  <a href="{{ expense[2] }}" target="_blank" style="text-decoration:none;">PDF file</a>
                {% else %}
                  <a href="{{ expense[2] }}" target="_blank">
                    <img src="{{ expense[2] }}" width="100" height="100">
                  </a>
                {% endif %}
              </td>
            <td data-label="Status">
              <div class="container text-center">
                <form method="POST">
                  {{ form.hidden_tag() }}
                  <input type="hidden" name="claimid" value="{{ expense[3] }}">
                  
                  <div>
                    {{ form.rejected(class="btn btn-outline-info btn-block mb-2 font-weight-bold") }}
                  </div>
                  
                  <div>
                    {{ form.accepted(class="btn btn-outline-info btn-block font-weight-bold") }}
                  </div>
                  
                </form>
              </div>

            </td>
            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


<br>
  <div class="pagination justify-content-center" >
    {% if expenses.has_prev %}
      <a class="btn btn-outline-info mb-4  mx-1" href="{{ url_for('employees.approve', page=expenses.prev_num) }}" >&laquo;</a>
    {% else %}
      <a class="btn btn-outline-info mb-4 disabled  mx-1">&laquo;</a>
    {% endif %}
    {% for page in expenses.iter_pages() %}
      {% if page %}
        {% if page == expenses.page %}
          <a class="btn btn-outline-info mb-4 active mx-1">{{ page }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4  mx-1" href="{{ url_for('employees.approve', page=page) }}">{{ page }}</a>
        {% endif %}
      {% else %}
        <span class="btn btn-outline-info mb-4 disabled mx-1">...</span>
      {% endif %}
    {% endfor %}
    {% if expenses.has_next %}
      <a class="btn btn-outline-info mb-4 mx-1" href="{{ url_for('employees.approve', page=expenses.next_num) }}">&raquo;</a>
    {% else %}
      <a class="btn btn-outline-info mb-4 disabled mx-1">&raquo;</a>
    {% endif %}
  </div>

{% endblock %}
        
