{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="content-section mx-auto">
        <form method="POST" action="">
            {{ form1.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Account</legend>
                <div class="form-group">
                    
                <div class="form-group">
                    {{ form1.name.label(class="form-control-label") }}

                    {% if form1.name.errors %}
                        {{ form1.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form1.email.label(class="form-control-label") }}
                    {% if form1.email.errors %}
                        {{ form1.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.password.label(class="form-control-label") }}
                    {% if form1.password.errors %}
                        {{ form1.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form1-group">
                    {{ form1.confirm_password.label(class="form-control-label") }}
                    {% if form1.confirm_password.errors %}
                        {{ form1.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form1.submit(class="btn btn-outline-info") }}
            </div>
            

        </form>
    
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('admins.login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}