{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-danger" id="alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>


  <div class="container">
    <div class="content-section mx-auto">
        <form method="POST" action="">
            {{ form1.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Create Account</legend>
              
                <div class="form-group mb-3">
                    {{ form1.name.label(class="form-control-label text-center") }}
                    {% if form1.name.errors %}
                        {{ form1.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form1.email.label(class="form-control-label text-center") }}
                    {% if form1.email.errors %}
                        {{ form1.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form1.password.label(class="form-control-label text-center") }}
                    {% if form1.password.errors %}
                        {{ form1.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form1-group mb-3">
                    {{ form1.confirm_password.label(class="form-control-label text-center") }}
                    {% if form1.confirm_password.errors %}
                        {{ form1.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form1.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-center mb-3">
                {{ form1.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <div class="border-top text-center pt-3">
        <small class="text-muted">
    Already Have An Account? <a class="ml-2" href="{{ url_for('admins.login') }}" style="text-decoration:None;">Sign In</a>
        </small>
    </div>
</div>


{% endblock content %}