{% extends "index.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-danger" id="alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  

<div class = "container">
    <div class="content-section mx-auto">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom text-center mb-4">Reset Password</legend>

                <div class="form-group mb-4">
                    {{ form.password.label(class="form-control-label text-center") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <br>
            <div class="form-group text-center mb-4">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}
