{% extends 'index.html' %}
{% block content %}
<div class="registration-box"> 
    <div class="container" id="register">
        
                <form method="POST" action="" id="form">
                    {{form.hidden_tag()}}
                    <legend class="text-center" style="white-space: nowrap;">Update Employee's Account</legend>
                    <div class="form-group">
                        {{ form.employeeid.label(class="form-control-label") }}
    
                        {% if form.employeeid.errors %}
                            {{ form.employeeid(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.employeeid.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.employeeid(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
    
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    
    
                    <div class="form-group">
                        {{ form.role.label(class="form-control-label") }}
                        {% for subfield in form.role %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.man_name.label(class="form-control-label") }}
                        {% if form.man_name.errors %}
                            {{ form.man_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.man_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.man_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    <div class="form-group">
                        {{ form.managerid.label(class="form-control-label") }}
                        {% if form.managerid.errors %}
                            {{ form.managerid(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.managerid.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.managerid(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
    
    
    
                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
        
        
    
    {% endblock %}