
h1 {
  text-align: center;
  font-size: 30px;
  color : darkblue;
  font-weight: bold;
}

.container {
  align-items: center;
  font-weight: bold;
  color: black;
  justify-content: center;

}

.nav-link {
  color: black !important;
}

#container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  
}

button {
  background-color: 576CBC;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(142, 142, 237);
}

#form1 {
  width: 360px;
  height: 620px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
}

form {
  width : 300px;

}
form label{
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 100%;
} 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.content-section {
  max-width: 400px;
  width: 100%;
}
.navbar {
  background-color: lightblue;
  font-weight: bold;
}

.navbar-nav {
  align-items: center;
  justify-content: flex-end;
  color: black;
  font-weight: bold;
}

.nav-link {
  color: black;
}

.card {
  text-align: center;
}

/* #status {
  font-size: 20px;
  font-weight: bold;
  color: green;
  align-items: center;
} */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

th, td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

th {
  background-color: #6c757d;
  color: #fff;
}