#container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    }
  /* Style the buttons */
    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    }
  /* Style the button hover and active states */
    button:hover {
    background-color: #45a049;
    }
    button:active {
    background-color: #3e8e41;
    }