<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container" id='form1'>
    <br>
    <form>
        
        <label for="employee-name">Employee Name </label>
        
    <input type="text" id="employee-name" name="employee-name" required><br><br>

    <label for="employee-id">Employee ID </label>
    <input type="text" id="employee-id" name="employee-id" required><br><br>

    <label for="employee-email">Employee Email </label>
    <input type="email" id="employee-email" name="employee-email" required><br><br>

    <label for="password">Password </label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirm-password">Confirm Password </label>
    <input type="password" id="confirm-password" name="confirm-password" required><br><br>

    <input type="submit" value="Submit">

        </form>
    </div>

        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>